.labelName {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: 12px;
  line-height: 1.33333;
  color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* gap: 4px; */
  min-width: 100%;
}

.inputName {
  border: none;
  border-radius: 12px;
  padding: 12px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color: var(--main);
  background-color: var(--inputs);
  outline: none;
  transition: box-shadow 300ms ease, border 300ms ease;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 44px;
}

/* ? Review later */
.empty {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  color: #9f9f9f;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inputName:focus,
.inputName:hover {
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid var(--inputs);
}

.inputError {
  border: 1.5px solid #c80000;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  color: var(--main);
  outline: none;
  transition: border 300ms ease;
  height: 44px;
}

.inputError::placeholder {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  color: #c80000;
}

.inputError:hover,
.inputError:focus {
  border: 1.5px solid #c80000;
}

.error {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: 12px;
  color: #c80000;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

select:invalid {
  color: #9f9f9f;
}

option {
  color: var(--main);
}

option[value=""] {
  color: var(--gray);
}
