/* Загальний контейнер навігації */
nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Посилання */
.link {
  text-decoration: none;
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  color: var(--main);
  border-radius: 6px;
  transition: color 0.3s ease, color 0.3s ease;
}

/* Активне посилання */
.active {
  color: var(--button-hover);
}

/* Ефект при наведенні */
.link:hover {
  color: var(--button-hover);
}
