.car_list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 32px;
  margin-bottom: 80px;
}
.list_items {
  max-width: 276px;
  height: 424px;
}

.btn_loadMore {
  margin: 0 auto;
  margin-bottom: 124px;
}

.no_results {
  text-align: center;
  font-size: 18px;
  color: red;
  margin-top: 40px;
}

.text_notFound {
  margin-bottom: 20px;
}

.btn_reset {
  margin: 0 auto;
}
